
body,
h1,
h2,
p,
ul,
li,
dt,
dd,
dl {
  margin: 0px;
  padding: 0px;
}

body {
  background: #faf6ed;
  color: #222;
  display: grid;
  grid-template-columns: 1fr minmax(300px,800px) 1fr;
  font-family: Arial, Helvetica, sans-serif;
}

.titulo-menu {
  grid-column: 1 / 4;
  background: #756c5ed8;
  margin-bottom: 2rem;
  padding: 15px;
  grid-column: 0;
}

.titulo-menu ul {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.titulo-menu li {
  display: block;
  padding: 10px;
  margin-right: 100px;
  color: #222;
}

.welcome-menu {
  grid-column: 2 / 3;
  padding: 30px;
}

.welcome-menu dt {
  color: #222;
  font-size: 25px;
  margin-bottom: 10px;
}

.welcome-menu dd {
  color: #4c4b4b;
}

.current-menu {
  grid-column: 2 / 3 ;
  background: #756c5ed8;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 10px;
}

.summary {
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr;
padding: 20px;
margin: 20px;
}

.summary-itens{
  border-radius: 10px;
  font-size: 20px;
  background: #faf6ed;
  margin-left: 10px;
  margin-bottom: 10px;
}
.summary-itens-ext {
  border-radius: 10px;
  font-size: 20px;
  background: #faf6ed;
  margin-left: 10px;
  margin-bottom: 10px;
  grid-column: 1 / 3;
}

.summary-itens li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dados-balance {
  text-align: center;
  font-size: 20px;
}

.button-menu {
  grid-column: 2/3;
}

.footer-menu {
  grid-column: 1/4;
  background: #756c5ed8;
  margin-top: 10px;
  text-align: center;
}
